.registration-button { 
	width:50%;
	height:213px;
	position:absolute;
	left:25%;
	top:2421px;
}
.registration-button__rectangle { 
	background-color:rgba(15.000000055879354, 169.00000512599945, 88.00000235438347, 1);
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
}
.registration-button__text { 
	color:rgba(255, 255, 255, 1);
	width:100%;
	height:100%;
	top: 30%;
	position:absolute;
	font-weight:bold;
	font-family:Jura;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}
.application-features-comment { 
	width:25%;
	height:50%;
	position:absolute;
	left:75%;
	top:1940px;
}
.application-features-comment__image-position { 
	width:35%;
	height:100%;
	position:absolute;
	left:30%;
	top:0px;
}
.application-features-comment__image { 
	height:50%;
	width:auto;
	background-image:url(images/comment.png);
	background-repeat:no-repeat;
	background-size:contain;
}
.application-features-comment__text { 
	color:rgba(15.000000055879354, 169.00000512599945, 88.00000235438347, 1);
	width:80%;
	height:auto;
	position:absolute;
	left:10%;
	top:157px;
	font-weight:bold;
	font-family:Jura;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.application-features-dairy { 
	width:25%;
	height:50%;
	position:absolute;
	left:50%;
	top:1934px;
}
.application-features-dairy__text { 
	color:rgba(15.000000055879354, 169.00000512599945, 88.00000235438347, 1);
	width:80%;
	height:auto;
	position:absolute;
	left:10%;
	top:163px;
	font-weight:bold;
	font-family:Jura;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.application-features-dairy__image-position { 
	width:50%;
	height:100%;
	position:absolute;
	left:25%;
	top:0px;
}

.application-features-dairy__image { 
	height:50%;
	width:auto;
	background-image:url(images/dairy.png);
	background-repeat:no-repeat;
	background-size:contain;
}
.application-features-medicine { 
	width:25%;
	height:50%;
	position:absolute;
	left:25%;
	top:1933px;
}
.application-features-medicine___image-position { 
	width:40%;
	height:100%;
	position:absolute;
	left:30%;
	top:0px;
}
.application-features-medicine___image { 
	height:100%;
	width:auto;
	background-image:url(images/medicine.png);
	background-repeat:no-repeat;
	background-size:contain;
}
.application-features-medicine___text { 
	color:rgba(15.000000055879354, 169.00000512599945, 88.00000235438347, 1);
	width:80%;
	height:auto;
	position:absolute;
	left:10%;
	top:164px;
	font-weight:bold;
	font-family:Jura;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.application-features-phone { 
	width:25%;
	height:50%;
	position:absolute;
	left:0%;
	top:1934px;
}
.application-features-phone___image-position { 
	width:25%;
	height:100%;
	position:absolute;
	left:40%;
	top:0px;
}
.application-features-phone___image { 
	height:50%;
	width:auto;
	background-image:url(images/phone.png);
	background-repeat:no-repeat;
	background-size:contain;
}
.application-features-phone___text { 
	color:rgba(15.000000055879354, 169.00000512599945, 88.00000235438347, 1);
	width:80%;
	height:auto;
	position:absolute;
	left:10%;
	top:163px;
	font-weight:bold;
	font-family:Jura;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.about-us { 
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:1284px;
}
.about-us__image-position { 
	width:50%;
	height:100%;
	position:absolute;
	left:60%;
	top:20%;
}
.about-us__image { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:75%;
	height:50%;
	background-image:url(images/rectangle_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.about-us__text { 
	color:rgba(0, 0, 0, 1);
	width:50%;
	height:auto;
	position:absolute;
	left:5%;
	top:138px;
	font-family:Jura;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}
.about-us__line {
	background-color:rgb(193, 193, 193);
	width:30%;
	height:2px;
	position:absolute;
	left:20%;
	top:10%;
}
.about-us__header { 
	color:rgba(15.000000055879354, 169.00000512599945, 88.00000235438347, 1);
	width:100%;
	height:100%;
	position:absolute;
	left:25%;
	top:0px;
	font-weight:bold;
	font-family:Jura;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}

.intro { 
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
}
.intro__image { 
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.intro__header { 
	color:rgba(255, 255, 255, 1);
	width:100%;
	height:100%;
	position:absolute;
	left:10%;
	top:30%;
	font-weight:bold;
	font-family:Jura;
	text-align:left;
	font-size:500%;
	letter-spacing:0;
}
.intro__text { 
	color:rgba(255, 255, 255, 1);
	width:100%;
	height:auto;
	position:absolute;
	left:10%;
	top:65%;
	font-weight:bold;
	font-family:Jura;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
