.1_2 { 
	overflow:hidden;
}.e1_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:2747px;
	position:absolute;
}.e13_4 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:954px;
	height:213px;
	position:absolute;
	left:243px;
	top:2421px;
}.e13_2 { 
	background-color:rgba(15.000000055879354, 169.00000512599945, 88.00000235438347, 1);
	width:954px;
	height:213px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}.e13_3 { 
	color:rgba(255, 255, 255, 1);
	width:689px;
	height:57px;
	position:absolute;
	left:153px;
	top:78px;
	font-family:Jura;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e8_29 { 
	width:302px;
	height:340px;
	position:absolute;
	left:1109px;
	top:1940px;
}.e8_27 { 
	width:150px;
	height:150px;
	position:absolute;
	left:76px;
	top:0px;
}.e8_28 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(15.000000055879354, 169.00000512599945, 88.00000235438347, 1);
	width:125px;
	height:125px;
	position:absolute;
	left:12.5px;
	top:12.5px;
}.e8_30 { 
	color:rgba(15.000000055879354, 169.00000512599945, 88.00000235438347, 1);
	width:302px;
	height:183px;
	position:absolute;
	left:0px;
	top:157px;
	font-family:Jura;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}.e8_22 { 
	width:302px;
	height:353px;
	position:absolute;
	left:749px;
	top:1934px;
}.e8_26 { 
	color:rgba(15.000000055879354, 169.00000512599945, 88.00000235438347, 1);
	width:302px;
	height:190px;
	position:absolute;
	left:0px;
	top:163px;
	font-family:Jura;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}.e8_23 { 
	width:150px;
	height:150px;
	position:absolute;
	left:76px;
	top:0px;
}.e8_24 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(15.000000055879354, 169.00000512599945, 88.00000235438347, 1);
	width:137.4375px;
	height:104.03125px;
	position:absolute;
	left:6.25px;
	top:28.125px;
}.e8_25 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(15.000000055879354, 169.00000512599945, 88.00000235438347, 1);
	width:40.893165588378906px;
	height:45.75055694580078px;
	position:absolute;
	left:82.70338439941406px;
	top:56.31194305419922px;
}.e8_20 { 
	width:302px;
	height:316px;
	position:absolute;
	left:389px;
	top:1933px;
}.e8_12 { 
	width:150px;
	height:150px;
	position:absolute;
	left:76px;
	top:0px;
}.e8_13 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(15.000000055879354, 169.00000512599945, 88.00000235438347, 1);
	width:112.5px;
	height:112.5px;
	position:absolute;
	left:18.75px;
	top:18.75px;
}.e8_14 { 
	color:rgba(15.000000055879354, 169.00000512599945, 88.00000235438347, 1);
	width:302px;
	height:152px;
	position:absolute;
	left:0px;
	top:164px;
	font-family:Jura;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}.e8_19 { 
	width:302px;
	height:315px;
	position:absolute;
	left:29px;
	top:1934px;
}.e8_4 { 
	width:150px;
	height:150px;
	position:absolute;
	left:76px;
	top:0px;
}.e8_5 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(15.000000055879354, 169.00000512599945, 88.00000235438347, 1);
	width:87.49999237060547px;
	height:137.49998474121094px;
	position:absolute;
	left:31.25px;
	top:6.250002861022949px;
}.e8_15 { 
	color:rgba(15.000000055879354, 169.00000512599945, 88.00000235438347, 1);
	width:302px;
	height:152px;
	position:absolute;
	left:0px;
	top:163px;
	font-family:Jura;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}.e8_18 { 
	width:1353px;
	height:491px;
	position:absolute;
	left:26px;
	top:1284px;
}.e1_3 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:514px;
	height:379px;
	position:absolute;
	left:839px;
	top:112px;
	background-image:url(images/rectangle_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e12_31 { 
	color:rgba(0, 0, 0, 1);
	width:805px;
	height:302px;
	position:absolute;
	left:0px;
	top:138px;
	font-family:Jura;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}.e6_2 { 
	color:rgba(15.000000055879354, 169.00000512599945, 88.00000235438347, 1);
	width:362px;
	height:57px;
	position:absolute;
	left:201px;
	top:0px;
	font-family:Jura;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.12_32 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e12_32 { 
	width:551px;
	height:0px;
	position:absolute;
	left:101px;
	top:86px;
}.e8_17 { 
	width:1440px;
	height:1200px;
	position:absolute;
	left:0px;
	top:0px;
}.e2_7 { 
	width:1440px;
	height:1200px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e2_8 { 
	color:rgba(255, 255, 255, 1);
	width:462px;
	height:136px;
	position:absolute;
	left:174px;
	top:330px;
	font-family:Jura;
	text-align:left;
	font-size:115px;
	letter-spacing:0;
}.e2_9 { 
	color:rgba(255, 255, 255, 1);
	width:695px;
	height:334px;
	position:absolute;
	left:58px;
	top:571px;
	font-family:Jura;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}